.main {

  background: #fefefe;
  background: url('../../images/business/page-bg.jpg');
  background-attachment: fixed;

  .button-transparent:not(.activated) {
    background-color: transparent;
  }
  .button-transparent.activated {
    background-color: rgba(0, 0, 0, .05);
  }

}
