body {
  @each $color-name, $color-value in $colors {
    .#{$color-name}-bg, [#{$color-name}-bg] {
      background-color: #{$color-value};
    }
  }

  .filter-grayscale {
    -webkit-filter: grayscale(1);
    -moz-filter: grayscale(1);
    filter: grayscale(1);
  }

  .filter-blur {
    -webkit-filter: blur(3px);
    -moz-filter: blur(3px);
    filter: blur(3px);
  }

  .transition {
    -webkit-transition: all 500ms;
    -moz-transition: all 500ms;
    -ms-transition: all 500ms;
    -o-transition: all 500ms;
    transition: all 500ms;
  }
}
