<!--
  Generated template for the CreateBankCardPage page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
        <ion-title>{{"CREATE_BANK_CARD"|i18nSelect:i18NService.getI18nMapping()}}</ion-title>

        <ion-buttons end style="width: 75%;">
            <ion-segment disabled="true">
                <ion-segment-button [ngClass]="{'segment-activated':step>=0}">
                    1.身份验证
                </ion-segment-button>
                <ion-segment-button [ngClass]="{'segment-activated':step>=1}">
                    2.信息录入
                </ion-segment-button>
                <ion-segment-button [ngClass]="{'segment-activated':step>=2}">
                    3.设置密码
                </ion-segment-button>
                <ion-segment-button [ngClass]="{'segment-activated':step>=3}">
                    4.综合签约
                </ion-segment-button>
                <ion-segment-button [ngClass]="{'segment-activated':step>=4}">
                    5.影像采集
                </ion-segment-button>
                <ion-segment-button [ngClass]="{'segment-activated':step>=5}">
                    6.信息确认
                </ion-segment-button>
            </ion-segment>
        </ion-buttons>
    </ion-navbar>

</ion-header>


<ion-content light-bg>

    <div [ngSwitch]="step">
        <div padding *ngSwitchCase="0">

            <ion-grid>
                <ion-row center>
                    <ion-col>
                        <ion-card style="-webkit-border-radius: 10px;;-moz-border-radius: 10px;;border-radius: 10px;">

                            <div class="transition" [ngClass]="{'filter-blur': !originalIDCard}"
                                 style="position: relative;">
                                <img src="images/business/id-card/id-card-01.jpg">
                                <div style="position: absolute;top: 0;bottom: 0;left: 0;right: 0;padding: 3%;font-size: 1.7rem;">
                                    <ion-grid style="height: 100%;">
                                        <ion-row style="height: 75%;" top>
                                            <ion-col>
                                                <ion-row>
                                                    <ion-col>
                                                        <span style="color: #448FB9;">姓&nbsp;&nbsp;名</span>
                                                        <span style="margin: 0 1rem;letter-spacing:.25rem;font-weight: bold;">{{originalIDCard?.name}}</span>
                                                    </ion-col>
                                                </ion-row>

                                                <ion-row>
                                                    <ion-col>
                                                        <span style="color: #448FB9;">性&nbsp;&nbsp;别</span>
                                                        <span style="margin: 0 1rem;">{{originalIDCard?.gender}}</span>
                                                    </ion-col>
                                                    <ion-col>
                                                        <span style="color: #448FB9;">民&nbsp;&nbsp;族</span>
                                                        <span style="margin: 0 1rem;">{{originalIDCard?.nation}}</span>
                                                    </ion-col>
                                                </ion-row>

                                                <ion-row>
                                                    <ion-col>
                                                        <span style="color: #448FB9;">出&nbsp;&nbsp;生</span>
                                                        <span style="margin: 0 1rem;">
                                                            {{originalIDCard?.birthday|slice:0:4}}
                                                            <span style="color: #448FB9;">&nbsp;&nbsp;年&nbsp;&nbsp;</span>
                                                            {{originalIDCard?.birthday|slice:4:6}}
                                                            <span style="color: #448FB9;">&nbsp;&nbsp;月&nbsp;&nbsp;</span>
                                                            {{originalIDCard?.birthday|slice:6:8}}
                                                            <span style="color: #448FB9;">&nbsp;&nbsp;日&nbsp;&nbsp;</span>
                                                        </span>
                                                    </ion-col>
                                                </ion-row>

                                                <ion-row>
                                                    <ion-col>
                                                        <span style="color: #448FB9;">住&nbsp;&nbsp;址</span>
                                                        <span style="margin: 0 1rem;">{{originalIDCard?.address}}</span>
                                                    </ion-col>
                                                </ion-row>

                                            </ion-col>
                                            <ion-col width-33 center>
                                                <img *ngIf="originalIDCard?.photoPath"
                                                     [src]="originalIDCard?.photoPath">
                                            </ion-col>
                                        </ion-row>

                                        <ion-row style="height: 15%;" bottom>
                                            <ion-col>
                                                <div style="font-size: 1.5rem;">
                                                    <span style="font-weight: bold;">发证机关&nbsp;&nbsp;</span>
                                                    <span>{{originalIDCard?.registInstitution}}</span>
                                                </div>
                                                <div style="font-size: 1.5rem;">
                                                    <span style="font-weight: bold;">有效期限&nbsp;&nbsp;</span>
                                                    <span *ngIf="originalIDCard?.validStartDate">
                                                        {{originalIDCard?.validStartDate|slice:0:4}}.
                                                        {{originalIDCard?.validStartDate|slice:4:6}}.
                                                        {{originalIDCard?.validStartDate|slice:6:8}}
                                                        —
                                                    </span>
                                                    <span *ngIf="originalIDCard?.validEndDate">
                                                        —
                                                        {{originalIDCard?.validEndDate|slice:0:4}}.
                                                        {{originalIDCard?.validEndDate|slice:4:6}}.
                                                        {{originalIDCard?.validEndDate|slice:6:8}}
                                                    </span>
                                                </div>
                                            </ion-col>
                                        </ion-row>

                                        <ion-row style="height: 10%;" bottom>
                                            <ion-col>
                                                <span style="color: #448FB9;">公民身份证号&nbsp;&nbsp;</span>
                                                <span style="letter-spacing:.25rem;font-size: 2rem;font-weight: bold;">{{originalIDCard?.cardNum}}</span>
                                            </ion-col>
                                        </ion-row>
                                    </ion-grid>
                                </div>
                            </div>

                        </ion-card>
                        <div text-center>
                            身份证原件信息
                        </div>
                    </ion-col>
                    <ion-col width-20 style="text-align:center;">

                        <button style="text-align: center;width:15vw;height:15vw;-webkit-border-radius: 50%;-moz-border-radius: 50%;border-radius: 50%;;"
                                (click)="readIDCard();">
                            <ion-icon name="card" style="font-size: 8vw;"></ion-icon>
                        </button>
                        <p text-center>点击读取身份证</p>

                    </ion-col>
                    <ion-col>
                        <ion-card style="-webkit-border-radius: 10px;;-moz-border-radius: 10px;;border-radius: 10px;">

                            <div class="transition" [ngClass]="{'filter-blur': !verificationIDCard}"
                                 style="position: relative;">
                                <img src="images/business/id-card/id-card-01.jpg">
                                <div style="position: absolute;top: 0;bottom: 0;left: 0;right: 0;padding: 3%;font-size: 1.7rem;">
                                    <ion-grid style="height: 100%;">
                                        <ion-row style="height: 75%;" top>
                                            <ion-col>
                                                <ion-row>
                                                    <ion-col>
                                                        <span style="color: #448FB9;">姓&nbsp;&nbsp;名</span>
                                                        <span style="margin: 0 1rem;letter-spacing:.25rem;font-weight: bold;">{{verificationIDCard?.name}}</span>
                                                    </ion-col>
                                                </ion-row>

                                                <ion-row>
                                                    <ion-col>
                                                        <span style="color: #448FB9;">性&nbsp;&nbsp;别</span>
                                                        <span style="margin: 0 1rem;">{{verificationIDCard?.gender}}</span>
                                                    </ion-col>
                                                    <ion-col>
                                                        <span style="color: #448FB9;">民&nbsp;&nbsp;族</span>
                                                        <span style="margin: 0 1rem;">{{verificationIDCard?.nation}}</span>
                                                    </ion-col>
                                                </ion-row>

                                                <ion-row>
                                                    <ion-col>
                                                        <span style="color: #448FB9;">出&nbsp;&nbsp;生</span>
                                                        <span style="margin: 0 1rem;">
                                                            {{verificationIDCard?.birthday|slice:0:4}}
                                                            <span style="color: #448FB9;">&nbsp;&nbsp;年&nbsp;&nbsp;</span>
                                                            {{verificationIDCard?.birthday|slice:4:6}}
                                                            <span style="color: #448FB9;">&nbsp;&nbsp;月&nbsp;&nbsp;</span>
                                                            {{verificationIDCard?.birthday|slice:6:8}}
                                                            <span style="color: #448FB9;">&nbsp;&nbsp;日&nbsp;&nbsp;</span>
                                                        </span>
                                                    </ion-col>
                                                </ion-row>

                                                <ion-row>
                                                    <ion-col>
                                                        <span style="color: #448FB9;">住&nbsp;&nbsp;址</span>
                                                        <span style="margin: 0 1rem;">{{verificationIDCard?.address}}</span>
                                                    </ion-col>
                                                </ion-row>

                                            </ion-col>
                                            <ion-col width-33 center>
                                                <img *ngIf="verificationIDCard?.photoPath"
                                                     [src]="verificationIDCard?.photoPath">
                                            </ion-col>
                                        </ion-row>

                                        <ion-row style="height: 15%;" bottom>
                                            <ion-col>
                                                <div style="font-size: 1.5rem;">
                                                    <span style="font-weight: bold;">发证机关&nbsp;&nbsp;</span>
                                                    <span>{{verificationIDCard?.registInstitution}}</span>
                                                </div>
                                                <div style="font-size: 1.5rem;">
                                                    <span style="font-weight: bold;">有效期限&nbsp;&nbsp;</span>
                                                    <span *ngIf="verificationIDCard?.validStartDate">
                                                        {{verificationIDCard?.validStartDate|slice:0:4}}.
                                                        {{verificationIDCard?.validStartDate|slice:4:6}}.
                                                        {{verificationIDCard?.validStartDate|slice:6:8}}
                                                        —
                                                    </span>
                                                    <span *ngIf="verificationIDCard?.validEndDate">
                                                        —
                                                        {{verificationIDCard?.validEndDate|slice:0:4}}.
                                                        {{verificationIDCard?.validEndDate|slice:4:6}}.
                                                        {{verificationIDCard?.validEndDate|slice:6:8}}
                                                    </span>
                                                </div>
                                            </ion-col>
                                        </ion-row>

                                        <ion-row style="height: 10%;" bottom>
                                            <ion-col>
                                                <span style="color: #448FB9;">公民身份证号&nbsp;&nbsp;</span>
                                                <span style="letter-spacing:.25rem;font-size: 2rem;font-weight: bold;">{{verificationIDCard?.cardNum}}</span>
                                            </ion-col>
                                        </ion-row>
                                    </ion-grid>
                                </div>
                            </div>

                        </ion-card>
                        <div text-center>
                            身份证验证信息
                        </div>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col>
                        <ion-card>
                            <ion-card-header>
                                温馨提醒
                            </ion-card-header>
                            <ion-card-content>
                                <p>请认真核对身份信息,请核对身份证原件与芯片读取的信息是否一致，请核对是否是办理人本人，请核对验证结果是否与原件一致。</p>
                            </ion-card-content>
                        </ion-card>
                    </ion-col>
                </ion-row>
            </ion-grid>

        </div>
        <div *ngSwitchCase="1">

            <ion-grid responsive-lg>
                <ion-row>
                    <ion-col width-80 offset-10>
                        <ion-card>
                            <ion-card-header>
                                <h2>信息录入</h2>
                            </ion-card-header>
                            <ion-list>

                                <ion-item>
                                    <ion-label dark>是否已婚：</ion-label>
                                    <ion-toggle checked="false"></ion-toggle>
                                </ion-item>

                                <ion-item>
                                    <ion-label dark>移动电话：</ion-label>
                                    <ion-input type="text" clearInput
                                               placeholder="请输入手机号码"></ion-input>
                                </ion-item>

                                <ion-item>
                                    <ion-label dark>家庭住址：</ion-label>
                                    <ion-input type="text" clearInput
                                               placeholder="请输入家庭住址"></ion-input>
                                </ion-item>

                                <ion-item>
                                    <ion-label dark>邮政编码：</ion-label>
                                    <ion-input type="text" clearInput
                                               placeholder="请输入邮政编码"></ion-input>
                                </ion-item>

                                <ion-item>
                                    <ion-label dark>工作单位：</ion-label>
                                    <ion-input type="text" clearInput
                                               placeholder="请输入工作单位"></ion-input>
                                </ion-item>

                                <ion-item>
                                    <ion-label dark>工作地址：</ion-label>
                                    <ion-input type="text" clearInput
                                               placeholder="请输入工作地址"></ion-input>
                                </ion-item>

                                <ion-item>
                                    <ion-label dark>行业：</ion-label>
                                    <ion-select>
                                        <ion-option value="nes">NES</ion-option>
                                        <ion-option value="n64">Nintendo64</ion-option>
                                        <ion-option value="ps">PlayStation</ion-option>
                                        <ion-option value="genesis">Sega Genesis</ion-option>
                                        <ion-option value="saturn">Sega Saturn</ion-option>
                                        <ion-option value="snes">SNES</ion-option>
                                    </ion-select>
                                </ion-item>

                                <ion-item>
                                    <ion-label dark>职业：</ion-label>
                                    <ion-select>
                                        <ion-option value="nes">NES</ion-option>
                                        <ion-option value="n64">Nintendo64</ion-option>
                                        <ion-option value="ps">PlayStation</ion-option>
                                        <ion-option value="genesis">Sega Genesis</ion-option>
                                        <ion-option value="saturn">Sega Saturn</ion-option>
                                        <ion-option value="snes">SNES</ion-option>
                                    </ion-select>
                                </ion-item>


                            </ion-list>
                        </ion-card>
                    </ion-col>
                </ion-row>
            </ion-grid>

        </div>
        <div *ngSwitchCase="2">
            <ion-grid responsive-lg>
                <ion-row>
                    <ion-col style="text-align: center;">
                        <button style="text-align: center;width:15vw;height:15vw;-webkit-border-radius: 50%;-moz-border-radius: 50%;border-radius: 50%;;"
                                (click)="readICCard();">
                            <ion-icon name="card" style="font-size: 8vw;"></ion-icon>
                        </button>
                        <p text-center>点击读取银行卡</p>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col style="text-align: center;">
                        <h2>6230 7021 9998 8788 82</h2>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col width-80 offset-10>
                        <ion-card>
                            <ion-card-header>
                                <h2>设置密码</h2>
                            </ion-card-header>
                            <ion-list>

                                <ion-item>
                                    <ion-label>输入密码：</ion-label>
                                    <ion-input type="password" clearInput
                                               placeholder="请输入6位数字"></ion-input>
                                </ion-item>

                                <ion-item>
                                    <ion-label>确认密码：</ion-label>
                                    <ion-input type="password" clearInput
                                               placeholder="请输入6位数字"></ion-input>
                                </ion-item>

                            </ion-list>
                        </ion-card>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </div>
        <div *ngSwitchCase="3">
            3
        </div>
        <div *ngSwitchCase="4">
            4
        </div>
        <div *ngSwitchCase="5">
            5
        </div>

    </div>


    <button [disabled]="step<1" large fab fab-bottom fab-left fab-fixed (click)="lastStep()">
        <ion-icon name="arrow-back"></ion-icon>
    </button>

    <button large fab fab-bottom fab-right fab-fixed (click)="nextStep()">
        <ion-icon [name]="step==5?'checkmark':'arrow-forward'"></ion-icon>
    </button>

</ion-content>
